faiss_gpu_cu12
fastapi
langchain
langchain_community
langchain_core
langchain_google_genai
langchain_huggingface
langgraph
motor
passlib
pydantic
supabase
pymongo
python-dotenv
python-socketio
python_jose
starlette
torch
transformers
torch 
faiss-gpu-cu12==1.9.0.0 
uvicorn
pydantic[email]
